.sidebar {
    background-color: #f4f4f4;
    padding: 1rem;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    margin: 1rem 0;
  }
  
  .active {
    color: #d93134;
  }